table {
    border-collapse:collapse
}

.menu {
    font-family: "Arial Black", serif;
    color: darkblue;
}
.menu:hover {
    /*color: deepskyblue;*/
    color: steelblue;
}
.menuselected {
    font-family: "Arial Black", serif;
    color: red;
}
.aboutpage,
.homepage {
    position: relative;
    font-family: "Arial", serif;
    font-weight: bold;
    color: midnightblue;
}
.aboutpage::after,
.homepage::after {
    content: "";
    position: absolute;
    background: url("image/beach.jpg");
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 100;
    z-index: -1;
}
.header {
    /*background-color: gray;*/
}
.tableheader {
    font-family: "Arial", serif;
    font-weight: bold;
    border-style: solid;
    background-color: black;
    color: white;
    height: 30px;
}
.tablerow {
    font-family: "Arial", serif;
    border-style: solid;
    font-weight: bold;
}
.grid {
    border-style: none;
}
.button {
    background-color: black;
    color: white;
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: medium;
    height: 50px;
    width: 125px;
}
